# ========================
# Server Configuration
# ========================
PORT=
HOST=
NODE_ENV=

# ========================
# PostgreSQL Configuration
# ========================
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=


# ========================
# Redis Configuration
# ========================
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=